p{
  font-family: Roboto;
  margin-top: 0;
  margin-bottom: 0;

}

.video-title {
  
  font-size: 18px;
  font-weight: bold;
  width: 300px;
  line-height: 24px;
  margin-bottom: 0;

}

.video-stats {
  
  font-size: 14px;
  color: rgb(121, 116, 116);
  margin-top: 0;
  margin-bottom: 15px;

}

.video-author {
  
  font-size: 12px;
  color: rgb(121, 116, 116);
  margin-top: 8px;
  margin-bottom: 30px;
}

.apple-text {
  margin-bottom: 50px;
  font-size: 14px;
  background-color: red;
  color: white;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;

}

.shopnow-link {
  cursor: pointer;
}

.shopnow-link:hover {
  text-decoration: underline;
}

.span-example {
  color: red;
}